@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');
h1,h2,h3 {
    font-family: 'Lora', serif;
   
}
body {
    
    font-family:  Helvetica, arial, sans-serif;
    margin: 0;
}
h1{
    margin: 0;
    padding-top: 20px;
    text-align: right;
    
}
h1>a {
    color: white;
    
}
hr{
    margin: 0;
    
}
header {
    background-color: #6495ED;
    padding: 20px 20px ;
    
}
ul {
    margin: 0;
    margin: auto;
}
nav ul li {
    list-style-type: none;
    text-decoration: none;
}
nav{
    padding:20px;
    text-align: right;
}
 ul > li > a{
    color: #FAEBD7 ;
    cursor: pointer; 
}
ul > li > a:hover{
    color:white;
}
img{
    margin: 0;
}

a {
    text-decoration: none;
    color: black;
    
}
main {
    background: #FAEBD7;
    padding: 5%;
}
 article {
    background-color: white;
    padding: 20px;

}
figure {
    text-align: center;
    margin: auto;

}
p > a {
    color:  #6495ED;
}
@media only screen and (min-width: 64rem) {
     div {
        display: grid;
        grid-template-columns: 1fr 3fr;
    }
}